<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :psw %><br>
    <%= f.text_field :psw %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.select(:sex,options_for_select([['male',1],['female',2],['unknown',3]])) %>

  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </div>
  <div class="field">
    <%= f.label :enable %><br>
    <%= f.check_box :enable %>
  </div>
  <div class="field">
    <%= f.label :lastlogin %><br>
    <%= f.datetime_select :lastlogin %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
