<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Psw:</strong>
  <%= @user.psw %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @user.sex %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Note:</strong>
  <%= @user.note %>
</p>

<p>
  <strong>Enable:</strong>
  <%= @user.enable %>
</p>

<p>
  <strong>Lastlogin:</strong>
  <%= @user.lastlogin %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
